.contact {
    position: relative;
    z-index: 1;
    height: fit-content;
    width: 80%;
    padding: 30px 10px;
    background-color: white;
    border-radius: 80px;
    margin-top: -200px;
}

.contact .heading {
    color: var(--primary);
}

.contact form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact .inputs-container {
    max-width: 50%;
    min-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact input {
    min-width: 400px;
    max-width: 400px;
    height: 30%;
    flex: 1;
    font-size: 25px;
    color: var(--black);
    padding: 20px 10px;
    margin: 20px 10px;
    outline: none;
    border: none;
    border-bottom: 3px solid var(--black);
}

.contact input::placeholder {
    font-size: 25px;
}

.contact .submit-btn {
    width: fit-content;
    height: fit-content;
    background: var(--purple-gradient);
    font-size: 18px;
    color: white;
    padding: 20px 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 15px;
    transition: all .2s linear;
}

.contact .submit-btn:hover {
    background: white;
    border: 3px solid var(--primary);
    color: var(--primary);
}