
        .project-container {
            position: relative;
            scale: 1;
            width: 400px;
            height: 300px;
            background: var(--black);
            overflow: hidden;
            margin: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 20px;
            transition: all 0.2s linear;
        }
        
        .project-container:hover {
            scale: 1.1;
            box-shadow: 2px 2px 25px 12px var(--black);
        }

        .project-container h4 {
            font-family: 'Montserrat', sans-serif;
            color: white;
            font-size: 36px;
        }

        .project-container .descripcion {
            position: absolute;
            bottom: -100%;
            z-index: 1;
            opacity: 0.9;
            width: 400px;
            height: 80%;
            background-color: gainsboro;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            transition: all .2s linear;
        }

        .project-container .descripcion h2 {
            font-size: 17px;
            text-align: left;
            color: var(--black);
            padding-left: 10px;
        }

.project-container .stack {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.project-container .stack h4 {
    color: var(--primary);
    font-size: 14px;
    margin: 10px;
    border-bottom: 2px solid var(--black);
    transition: all .2s linear;
}

.project-container .stack h4:hover {
    scale: 1.1;
}

.project-container .text {
    text-align: left;
    font-size: 15px;
    width: 80%;
    color: var(--black);
    padding-left: 10px;
}

.project-container .links-cont {
    width: 100%;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.project-container .links-cont a {
    margin-right: 10px;
    text-decoration: none;
    font-weight: bold;
    color: var(--primary);
    transition: all .2s linear;
}

.project-container .links-cont a:hover {
    color: var(--black);
}